@charset "utf-8";
/* reset marginesów oraz dopełnień */
html, body, ul, li { margin: 0px; padding: 0px; line-height: 1.2em;}
br {line-height:8px; margin:0px;}

/* reset wysokości linii i fontu */
h1, h2, ul, li, p { margin: 0; padding: 0; }

/* ustawienia globalne */
html, body {font-family:georgia, verdana, tahoma, arial, sans-serif; font-size: 0.625em/1.5em; 		background-image:url(../image/leftbg.jpg);}
a {color:#1c769a; text-decoration:none; font-size:1.1em;}
a:hover {text-decoration:none;}

/* CONTENT */ 
#content {
	width:190px;
	padding:0px;
	/*border:solid 1px #dfdfdf;
	background:#ffffff;*/
	font-size:11px;
	margin:0 auto;
	overflow:hidden;

}
#content h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
	color:#535353;
}
#content img {
	padding:5px;
	background:#f7f7f7;
	border:solid 1px #464646;
	margin:0px
}
.leftcopy
{

}