<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>丛林闲居</title>

    <script type="text/javascript" th:src="@{before/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{before/js/jquery.ad-gallery.js}"></script>
    <script type="text/javascript" th:src="@{before/js/zzsc.js}"></script>
    <link rel="stylesheet" th:href="@{before/style/cy.css}">
    <link rel="stylesheet" th:href="@{before/style/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{before/style/jquery.ad-gallery.css}">
</head>
<body>
<div>
<jsp:include  page="head.jsp" />   

<!--用车-填写订单-->

<div class="yc-txdd">
    <div class="yc-mbx">
        <p>当前位置：<a href="JungleList.html" class="ll">国内丛林</a> >  <a href="#" class="xz">龙泉寺</a></p>
    </div>
    <div><img th:src="@{before/images/xxy_03.jpg}"></div>
</div>
 <!--详情页（丛林）-->
        <div class="xqy-top">
<div class="xqy-cl">
    <div class="xqy-cl1">
    <p class="difang">厦门曾厝垵梦里情丝客栈温馨家庭房<img th:src="@{before/images/jx8.png}"> </p>
    <p class="luxian">厦门曾厝垵梦里情丝客栈</p>
    </div>
    <div class="xqy-cl2">
        <p><img th:src="@{before/images/17.png}">&nbsp;&nbsp;入住：&nbsp;&nbsp;<input type="text" value="2015-10-05">&nbsp;&nbsp;退房：&nbsp;&nbsp;<input type="text" value="2015-10-22"></p>
        </div>
    <div>
        <div class="xqyt-left">
            <div id="gallery" class="ad-gallery">
                <div class="ad-image-wrapper">

                </div>

                <div class="ad-nav">
                    <div class="ad-thumbs">
                        <ul class="ad-thumb-list">
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image0">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image1">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image2">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image3">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image4">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image5">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image6">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image7">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image8">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image9">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image10">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image11">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image12">
                                </a>
                            </li>
                            <li>
                                <a href="@{before/images/1.jpg}">
                                    <img th:src="@{before/images/t1.jpg}" class="image13">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="xqyt-right">
            <div class="xr-top">
                <div class="hpl"><i class="bfl">98%</i><i class="hp">好评率</i></div>
                <span class="dp">共<i>2622条</i>点评</span>|
                <span class="fwzs"><img th:src="@{before/images/18.png}">服务指数：<i class="fs">4.2</i><i class="yg">/5分</i></span>
            </div>
            <div class="xr-bottom1">

                  <p> 一室一厅&nbsp;&nbsp;|&nbsp;&nbsp;25m2&nbsp;&nbsp;|&nbsp;&nbsp;整体出租&nbsp;&nbsp;|&nbsp;&nbsp;宜住3人&nbsp;&nbsp;|&nbsp;&nbsp;2张床&nbsp;</p>
                    <p class="tb"><img th:src="@{before/images/ss_icon_03.png}"><img th:src="@{before/images/ss_icon_12.png}"><img th:src="@{before/images/ss_icon_05.png}"><img th:src="@{before/images/ss_icon_07.png}"><img th:src="@{before/images/ss_icon_09.png}"><a href="#">更多设施>></a> </p>
                    <p class="xxjs">[<i>曾厝垵地区</i>]厦门曾厝垵梦里情丝客栈温馨家庭房(近鼓浪屿、中山路、厦门大学)</p>

                    <p class="gaga">日均价：<span><i>￥</i>181</span><a href="ResFiorder.jsp">立即预定</a> </p>


            </div>
        </div>
    </div>
</div>
        </div>
        <div class="xqy-content">
            <div class="xqycon-left">
                <p class="cljj">
                    房源信息
                </p>
                <div class="fyxx">
                    <p class="xyxg">洗浴相关</p>
                    <p class="yddx"><span><img th:src="@{before/images/ly.png}">24小时热水</span><span><img th:src="@{before/images/ly.png}">淋浴</span><span><img th:src="@{before/images/mt.png}">独立卫生间</span><span><img th:src="@{before/images/ys.png}">洗簌用品</span><span><img th:src="@{before/images/bs.png}">毛巾浴巾</span></p>
                </div>
                <div class="fyxx">
                    <p class="xyxg">客房配套</p>
                    <p class="yddx"><span><img th:src="@{before/images/cj1.png}">可以做饭</span><span><img th:src="@{before/images/gw.png}">洗衣机</span><span><img th:src="@{before/images/bx.png}">冰箱</span><span><img th:src="@{before/images/kt.png}">空调</span><span><img th:src="@{before/images/dsj.png}">电视</span><span><img th:src="@{before/images/chuang1.png}">加床服务</span>
                        <span><img th:src="@{before/images/jb.png}">允许聚会</span><span><img th:src="@{before/images/xy.png}">吸烟</span><span><img th:src="@{before/images/sb.png}">被单更换</span><span><img th:src="@{before/images/wbl.png}">微波炉</span><span><img th:src="@{before/images/nq1.png}">暖气</span><span><img th:src="@{before/images/dn1.png}">电脑</span>
                        <span><img th:src="@{before/images/cfj.png}">电吹风</span><span><img th:src="@{before/images/xz.png}">拖鞋</span><span><img th:src="@{before/images/sd1.png}">饮水设备</span><span><img th:src="@{before/images/dcl.png}">电磁炉</span><span><img th:src="@{before/images/rqc.png}">燃气兆</span></p>
                </div>
                <div class="fyxx">
                    <p class="xyxg">入住须知</p>
                    <p class="rzxz">入住当日12:00之后可办理入住,退房当日12:00之前需办理离店;
                        到店接待时间：00:00-24:00
                        凭身份证入住，遵守法律法规，爱护房间设施。</p>
                </div>
                <div class="fyxx">
                    <p class="xyxg">闲居简介</p>
                    <p class="rzxz">厦门曾厝垵梦里情丝客栈属山孚集团(原山东省食品进出口公司)，是集客房、餐饮、娱乐、商住为一体的四星级标准的综合性涉外酒店。
                        18层主体巍峨耸立，远眺万顷碧海，青岛美景尽收眼底。 山孚大酒店位于青岛市东部的黄金地段，与市政府大楼、东泰佳世客购物中心、
                        青岛麦凯乐、世贸中心及沿海雕塑街相邻。天海一色的疗养胜地，四通八达的现代化商务区域，便利的交通。</p>
                </div>
                <p class="wzyzb">位置与周边</p>
                <img th:src="@{before/images/xxy_29.jpg}">
                <p class="wzyzb">用户点评</p>
                <div class="yhdp">
                    <div class="yhdp-top">
                        <p class="xqy-dc">全部点评254条</p>
                        <p>推荐164篇</p>
                        <p>不推荐32条</p>
                        <span>+ 我来点评</span>
                    </div>
                    <div class="xxy-mian">
                        <div class="xm-one">
                            <div class="xm-top">
                               <div class="xm-left">
                                   <img th:src="@{before/images/xxy_44.jpg}">
                                   <p>LV.13</p>
                               </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>中评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="xm-one none">
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="xm-one none">
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                            <div class="xm-top">
                                <div class="xm-left">
                                    <img th:src="@{before/images/xxy_44.jpg}">
                                    <p>LV.13</p>
                                </div>
                                <div class="xm-right">
                                    <div class="pl">
                                        <p class="pl-left"><i>一米阳光</i> <span>好评</span>2015-09-10  10:34:10</p>
                                    </div>
                                    <p class="pl-wz">被我哥哥带上去的，确实是值得去游览一下。</p>
                                    <p class="sqhf">收起回复</p>
                                    <img th:src="@{before/images/xxy_banner_03.jpg}">
                                    <p>
                                        <textarea placeholder="添加回复"></textarea>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="fenye1">
                        <ul>
                            <li class="sp"><a href="#">1</a> </li>
                            <li><a href="#">2</a> </li>
                            <li><a href="#">3</a> </li>
                            <li><a href="#">4</a> </li>
                            <li class="sp">...</li>
                            <li><a href="#">25</a> </li>
                            <li><a href="#">26</a> </li>
                            <li><a href="#">后一页</a> </li>
                        </ul>
                    </div>
                    <div class="tab-jd">
                        <p class="cse">香港半岛酒店(Peninsula Hotel) <span><i>*</i>为必填选项</span></p>
                        <table>
                            <tr>
                                <td class="lesd"><i>*</i>总体评价</td>
                                <td><input type="radio" name="pl">&nbsp; 好评&nbsp;&nbsp;&nbsp;<input type="radio" name="pl">&nbsp; 中评&nbsp;&nbsp;&nbsp; <input type="radio" name="pl">&nbsp; 差评&nbsp;&nbsp;&nbsp;<span>给服务打分</span></td>
                            </tr>
                            
                            <tr>
                                <td class="lesd"><i>*</i>评价</td>
                                <td><textarea placeholder="详细、客观、真实，130字以上为最佳！上传图片会加分哦!"></textarea><p>15-1000个字</p></td>
                            </tr>
                            <tr>
                                <td class="lesd">上传照片</td>
                                <td><input type="file"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="提交点评"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="xqycon-right">
                <img th:src="@{before/images/xxy_11.jpg}">
                <p class="zbxj"><img th:src="@{before/images/xxy1_03.jpg}">周边闲居</p>
                <div class="jd">
                    <p><img th:src="@{before/images/xxy_15.jpg}"> </p>
                    <p class="js"><span>大连新世界酒店</span><span class="jdy">距离该酒店约<i>120</i>米</span></p>
                    <p class="qian">￥<i>798起</i></p>
                </div>
                <div class="jd">
                    <p><img th:src="@{before/images/xxy_19.jpg}"> </p>
                    <p class="js"><span>大连新世界酒店</span><span class="jdy">距离该酒店约<i>120</i>米</span></p>
                    <p class="qian">￥<i>798起</i></p>
                </div>
                <div class="jd">
                    <p><img th:src="@{before/images/xxy_21.jpg}"> </p>
                    <p class="js"><span>大连新世界酒店</span><span class="jdy">距离该酒店约<i>120</i>米</span></p>
                    <p class="qian">￥<i>798起</i></p>
                </div>
                <div class="jd">
                    <p><img th:src="@{before/images/xxy_24.jpg}"> </p>
                    <p class="js"><span>大连新世界酒店</span><span class="jdy">距离该酒店约<i>120</i>米</span></p>
                    <p class="qian">￥<i>798起</i></p>
                </div>
                <div class="jd">
                    <p><img th:src="@{before/images/xxy_27.jpg}"> </p>
                    <p class="js"><span>大连新世界酒店</span><span class="jdy">距离该酒店约<i>120</i>米</span></p>
                    <p class="qian">￥<i>798起</i></p>
                </div>
                <p class="zbxj"><img th:src="@{before/images/xxy1_03.jpg}">周边景点</p>
                <div class="acl">
                    <p>
                        <img th:src="@{before/images/xxy_32.jpg}">
                        <p>杭州西湖游游</p>
                    </p>
                    <p>
                        <img th:src="@{before/images/xxy_38.jpg}">
                    <p>杭州西湖游游</p>
                    </p>
                </div>
                <div class="acr">
                    <p>
                        <img th:src="@{before/images/xxy_32.jpg}">
                    <p>杭州西湖游游</p>
                    </p>
                    <p>
                        <img th:src="@{before/images/xxy_39.jpg}">
                    <p>杭州西湖游游</p>
                    </p>
                </div>
            </div>
        </div>
 <%@ include  file="bottom.jsp"%>
    </div>


</div>

<script src="js/index.js"></script>

</body>
</html>