<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>丛林闲居-丛林素斋</title>
<link rel="stylesheet" th:href="@{before/style/cy.css}">
<link rel="stylesheet" th:href="@{before/style/style.css}">
</head>
<body>
<!--首页TOP-->
<div class="index-top2">
<div class="left"><span class="one"><a
	href="                   "><img width="131" height="52"
	th:src="@{before/images/logo2.png}"></a></span> <span class="two"><img
	th:src="@{before/images/index_q.png}"></span>

<div class="three"><span><img th:src="@{before/images/index_03.png}"></span>
<ul>
	<li class="rx">客户服务热线:</li>
	<li class="phone">400-688-6798</li>
</ul>
</div>
</div>
<div class="right">
<ul>
	<li><a href="                   ">首页</a>|</li>
	<li><a
		href="<%=path%>/clxjmain!selClOfPage.action?clxjmain.type2=true">丛林</a>|</li>
	<li><a
		href="<%=path%>/clxjmain!selXjOfPage.action?clxjmain.type2=false">闲居</a>|</li>
	<li><a href="ConEntryPage.jsp">忏悔</a>|</li>
	<li><a href="FoundIndex.jsp">基金会</a>|</li>
	<li><a href="joincl.jsp">加盟</a>|</li>
	<li><a href="ContactUs.jsp">联系我们</a></li>
</ul>
</div>
</div>
<div style="margin: auto;">
<ul>
	<li>
	<p class="p2" style="text-align: center; font-size: 25px;margin-left: -700px;">丛林素斋理念</p>
	<p class="p1" style="text-align: center; font-size: 20px;">我行我素&nbsp;&nbsp;&nbsp; 戒杀放生</p>
	<p class="p1" style="text-align: center; font-size: 20px;">丛林素斋&nbsp;&nbsp;&nbsp; 佛缘渊源</p>
		<div style="text-align: left; font-size: 15px;margin-top: 10px;margin-left: 400px;">
			<p style="margin-left: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;《涅槃经》中，“佛说：吃肉的人断大</p> 
			<p  style="margin-left: 100px;">慈悲种子。” 断大慈悲种子就是丧失爱心。</p>
			<p  style="margin-left: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;众多的贤者在谈到爱心时。无不强调要爱一切事物，要爱</p>
			<p  style="margin-left: 100px;">一切动物，要对动物有仁慈之心。这与观世音菩萨的“与众</p>
			<p  style="margin-left: 100px;">生同一悲仰”的精神是一致的。</p>
			<p  style="margin-left: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;无论你是为了持戒或者其他原因而食素，开始的时候是被</p>
			<p  style="margin-left: 100px;">动的、从众的。食素时久，爱心日深。</p> 
			<p><img style="margin-top: 10px;" th:src="@{before/images/wx1.jpg}" /></p>
		</div>
	</li>
	<li>
		<div style="text-align: left; font-size: 15px;margin-top: 10px;margin-left: 400px;">
			<P  style="margin-left: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“我不吃肉可以获取所需要的蛋白质吗？</P>
			<P  style="margin-left: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“素食是否可以提供足够的蛋白质呢？”答案是：“是的，</P>
			<P  style="margin-left: 100px;">没问题。丛林素斋的食材主要分为高纤维蒟篛制品、大豆蛋</P>
			<P  style="margin-left: 100px;">白制品、小麦蛋白制品、香菇制品、素食调味酱料等系列近</P>
			<p  style="margin-left: 100px;">300个品种，以室温或冷冻两种储存方式保存。注重饮食健</P>
			<p  style="margin-left: 100px;">康，兼顾营养美味。</P>
			<p><img style="margin-top: 10px;" th:src="@{before/images/wx2.jpg}"/></p>
		</div>
	</li>
	<li>
		<div style="text-align: left; font-size: 15px;margin-top: 10px;margin-left: 400px;">
			<p  style="margin-left: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;现代的饮食潮流趋向健康的素食，大体说来，素食具有</p>
			<p  style="margin-left: 100px;">降低血脂、降低血糖、降低血压、降低胆固醇等功效，还有高</p>
			<p  style="margin-left: 100px;">纤维、低热量等特点。对现代人特别是都市人普遍存在的“四</p>
			<p  style="margin-left: 100px;">高”，即高血脂、高血糖、高胆固醇、高血压，素食正在成</p>
			<p  style="margin-left: 100px;">为一种时尚。同时还专门设有儿童素斋，为糖粘病患者专供</p>
			<p  style="margin-left: 100px;">无蔗糖素斋。</p>
			<p  style="margin-left: 100px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自然界物种丰富，素食原料也丰常繁多，这为我们进行素</p>
			<p  style="margin-left: 100px;">食烹饪的创作提供前提。丛林素斋将素食与美食巧妙地结</p>
			<p  style="margin-left: 100px;">合。</p> 
			<p style="margin-top: 10px;"><img th:src="@{before/images/wx3.jpg}" /></p>
		</div> 
	</li>
	<li>
		<div style="text-align: left; font-size: 15px;margin-top: 10px;margin-left: 560px;">
			<p >详情添加微信公众号：CHAN-3WCL</p>
			<p><img style="margin-top: 10px;margin-left: 20px;" th:src="@{before/images/clszwx.jpg}" height="200px;" width="200px;"/></p>
		</div>
	</li>
</ul>
</div>
<div th:replace="bottom :: bot1"></div>
<div th:replace="bottom :: bot2"></div>
<script th:src="@{before/js/jquery.min.js}"></script>
<script th:src="@{before/js/index.js}"></script>

</body>
</html>