<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>head</title>
 <link rel="stylesheet" th:href="@{/before/style/cy.css}" href="style/cy.css">
    <link rel="stylesheet" th:href="@{/before/style/style.css}" href="style/style.css">

</head>
<body>
<!--首页TOP-->
<div class="index-top" th:fragment="top1">
    <div class="index-top3">
    <div class="left"> 
        <span class="one"><a href=""><img width="158" height="64" th:src="@{/before/images/logo1.png}" src="images/logo1.png"></a></span>
        <span class="two"><img th:src="@{/before/images/index_q.png}"  src="images/index_q.png"></span>

        <div class="three"> 
            <span><img th:src="@{/before/images/index_03.png}" src="images/index_03.png"></span>
            <ul>
                <li class="rx">客户服务热线:</li>
                <li class="phone">400-688-6798</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <p class="one"><img th:src="@{/before/images/index_06.jpg}" src="images/index_06.jpg"></p>
        <p class="two"><img th:src="@{/before/images/e_03.jpg}" src="images/e_03.jpg"></p>
        <p class="three none"><img width="104" height="105" th:src="@{/before/images/weixin.png}" src="images/weixin.png"></p>
    </div> 
    </div> 
</div>
<!--首页banner-->
<div class="index-banner" th:fragment="top2">
    <div class="index-banner1">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/clxj/clxj?Type2=true">丛林</a></li>
        <li><a href="/clxj/clxj?Type2=false">闲居</a></li>
        <li><a href="ConEntryPage.jsp">忏悔</a></li>
        <li><a href="FoundIndex.jsp">基金会</a></li>
        <li><a href="joincl.jsp">加盟</a></li>
        <li><a href="ContactUs.jsp">联系我们</a></li> 
        <li><a href="clsz.jsp">丛林素斋</a></li>
    </ul>
        <div>
            <div class="dl" th:if="${session.user}==null"><a href="login.html">登录</a><i>|</i><a href="register.jsp">注册</a></div>
            <div class="index-grzx " th:if="${session.user}!=null"><a href="UserPersonal.jsp">个人中心</a>&nbsp;&nbsp;&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="loginOut()">退出</a></div>
        </div>
</div>
</div>
</body>
</html>