<!DOCTYPE html>
<!--<%&#45;&#45;<%@ page language="java" contentType="text/html; charset=UTF-8"-->
    <!--pageEncoding="UTF-8"%>&#45;&#45;%>-->
<!--<%&#45;&#45;<%@ page import="com.util.DateUtils" %>-->
<!--<%@taglib prefix="c"  uri="http://java.sun.com/jsp/jstl/core"%>-->
<!--&lt;!&ndash;<jsp:directive.page import="java.util.Calendar" />&ndash;&gt;-->
<!--<%&#45;&#45;<%&#45;&#45;%>-->
<!--<%&#45;&#45;	String path = request.getContextPath();&#45;&#45;%>-->
<!--<%&#45;&#45;%>&#45;&#45;%>-->
<!--<%&#45;&#45;<%&#45;&#45;%>-->
<!--<%&#45;&#45;  String timeBanner = "你好";&#45;&#45;%>-->
<!--<%&#45;&#45;  Calendar cal = Calendar.getInstance();&#45;&#45;%>-->
<!--<%&#45;&#45;  int hour = cal.get(Calendar.HOUR_OF_DAY);&#45;&#45;%>-->
<!--<%&#45;&#45;  if (hour >= 5 && hour < 11) {&#45;&#45;%>-->
<!--<%&#45;&#45;   timeBanner = "上午好，";&#45;&#45;%>-->
<!--<%&#45;&#45;  } else if (hour >= 11 && hour < 13) {&#45;&#45;%>-->
<!--<%&#45;&#45;   timeBanner = "中午好，";&#45;&#45;%>-->
<!--<%&#45;&#45;  } else if (hour >= 13 && hour < 18) {&#45;&#45;%>-->
<!--<%&#45;&#45;   timeBanner = "下午好，";&#45;&#45;%>-->
<!--<%&#45;&#45;  } else if (hour >= 18 && hour < 23) {&#45;&#45;%>-->
<!--<%&#45;&#45;   timeBanner = "晚上好，";&#45;&#45;%>-->
<!--<%&#45;&#45;  } else {&#45;&#45;%>-->
<!--<%&#45;&#45;   timeBanner = "夜深啦，";&#45;&#45;%>-->
<!--<%&#45;&#45;  }&#45;&#45;%>-->
<!--<%&#45;&#45;%>&#45;&#45;%>-->
<!--<%&#45;&#45;<% &#45;&#45;%>-->
<!--<%&#45;&#45;java.text.SimpleDateFormat formatter = new java.text.SimpleDateFormat("yyyy-MM-dd"); &#45;&#45;%>-->
<!--<%&#45;&#45;java.text.SimpleDateFormat formatter2 = new java.text.SimpleDateFormat("yyyy年MM月dd日"); &#45;&#45;%>-->
<!--<%&#45;&#45;java.util.Date currentTime = new java.util.Date();//得到当前系统时间 &#45;&#45;%>-->
<!--<%&#45;&#45;java.util.Date date2 = DateUtils.ctrlDate(currentTime,1);&#45;&#45;%>-->

<!--<%&#45;&#45;String str_date1 = formatter.format(currentTime); //将日期时间格式化 &#45;&#45;%>-->

<!--<%&#45;&#45;String str_date4 = formatter.format(date2); //将下一天&#45;&#45;%>-->

<!--<%&#45;&#45;String str_date2 = currentTime.toString(); //将Date型日期时间转换成字符串形式 &#45;&#45;%>-->

<!--<%&#45;&#45;String str_date3 = formatter2.format(currentTime); //将Date型日期时间转换成年月日&#45;&#45;%>-->

<!--<%&#45;&#45;/** &#45;&#45;%>-->
<!--<%&#45;&#45; * 获得指定日期的后一天 &#45;&#45;%>-->
<!--<%&#45;&#45; *  &#45;&#45;%>-->
<!--<%&#45;&#45; * @param specifiedDay &#45;&#45;%>-->
<!--<%&#45;&#45; * @return &#45;&#45;%>-->
<!--<%&#45;&#45; */  &#45;&#45;%>-->
<!--<%&#45;&#45;%>   &#45;&#45;%>-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>head</title>
 <link rel="stylesheet" href="style/cy.css">
    <link rel="stylesheet" href="style/style.css">

</head>
<body>
<!--首页TOP-->
<div class="index-top">
    <div class="index-top3">
    <div class="left"> 
        <span class="one"><a href=""><img width="158" height="64" src="images/logo1.png"></a></span>
        <span class="two"><img src="images/index_q.png"></span>

        <div class="three"> 
            <span><img src="images/index_03.png"></span>
            <ul>
                <li class="rx">客户服务热线:</li>
                <li class="phone">400-688-6798</li>
            </ul>
        </div>
    </div>
    <div class="right">
        <p class="one"><img src="images/index_06.jpg"></p>
        <p class="two"><img src="images/e_03.jpg"></p> 
        <p class="three none"><img width="104" height="105" src="images/weixin.png"></p>
    </div> 
    </div> 
</div>
<!--首页banner-->
<div class="index-banner">
    <div class="index-banner1">
    <ul>
        <li><a href="">首页</a></li> 
        <li><a href="<%=path %>/clxjmain!selClOfPage.action?clxjmain.type2=true">丛林</a></li>
        <li><a href="<%=path %>/clxjmain!selXjOfPage.action?clxjmain.type2=false">闲居</a></li>
        <li><a href="ConEntryPage.jsp">忏悔</a></li>
        <li><a href="FoundIndex.jsp">基金会</a></li>
        <li><a href="joincl.jsp">加盟</a></li>
        <li><a href="ContactUs.jsp">联系我们</a></li> 
        <li><a href="clsz.jsp">丛林素斋</a></li>
    </ul>
        <div>
            <div class="dl" th:if="${session.user}==null"><a href="#" onclick="Alllogin()">登录</a><i>|</i><a href="register.jsp">注册</a></div>
            <div class="index-grzx " th:if="${session.user}!=null"><a href="UserPersonal.jsp">个人中心</a>&nbsp;&nbsp;&nbsp;&nbsp;<i>|</i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="loginOut()">退出</a></div>
        </div>
</div>
</div>
</body>
</html>