<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>丛林闲居-闲居加盟</title>
    <link rel="stylesheet" th:href="@{before/style/cy.css}">
    <link rel="stylesheet" th:href="@{before/style/style.css}">
<!-- 表单验证start -->
<script th:src="@{before/js/jquery.js}"></script>
<script th:src="@{before/js/jquery.validate.js}"></script>
<script th:src="@{before/js/jquery.metadata.js}"></script>
<script type="text/javascript" th:src="@{before/js/messagesx_cn.js}"></script>
<!-- 表单验证stop -->
<!-- 下载中文文件start -->
<script th:src="@{before/sheet/js/download.js}"></script>
<!-- 下载中文文件stop -->
</head>

<body>
<div>
<script language="JavaScript">
       // javascript:window.history.forward(1); //我目前先用着这个
</script>
<script type="text/javascript">
$(function(){
	if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
	    $('[placeholder]').focus(function() {
	        var input = $(this);
	        if (input.val() == input.attr('placeholder')) {
	            input.val('');
	            input.removeClass('placeholder');
	        }
	    }).blur(function() {
	        var input = $(this);
	        if (input.val() == '' || input.val() == input.attr('placeholder')) {
	            input.addClass('placeholder');
	            input.val(input.attr('placeholder'));
	        }
	    }).blur();
	};
	})
	function placeholderSupport() {
	    return 'placeholder' in document.createElement('input');
	} 
</script>
<!--首页TOP-->
    <div class="yc-txdd1">
         
        <!--首页banner-->
        <div th:replace="head::html"></div>
         <!--<jsp:include  page="head.jsp" />-->
        <script type="text/javascript">
function Alllogin(){
	window.location.href = "login.jsp?returnurl=/joinxj.jsp";
} 
function loginOut(){
	window.location.href = "<%=path%>/reguser!loginOut.action?returnurl=/joinxj.jsp";
}
 </script>
        <!--首页轮播图-->


<!--用车-填写订单-->
<div class="yc-txdd">
    <div class="yc-mbx">
        <p>当前位置：<a href="index.html" class="ll">丛林闲居网</a> > <a href="#" class="xz">加盟</a></p>
    </div>
    <div><img th:src="@{before/images/jm_03.jpg}"></div>
    <div class="jm">
    <div class="kwff-p1">
          <p class="kwff-p11">加盟列表</p>
           <p class="kwff-p12"><a href="joincl.html"><span>丛林加盟</span></a><span class="qzfze">闲居加盟</span><a href="joincar.html"> <span>车辆加盟</span> </a> </p>
     </div>  
     <div class="qzsqb">
     <div class="qzsqb-one">
               <ul>
                  <li><a href="javascript:void(0)" onclick="goDownload('闲居加盟丛林闲居的合同.docx','2')">闲居加盟丛林闲居的合同</a> </li>  
                </ul> 
      </div>   
      </div>   
        <div class="jm-left">  
            <p class="xx">
            	<em th:if="${sessionUser ==null }" style="font-size: 10px;color: red">加盟首先要登录哦，点击<a href="login.jsp?returnurl=/joinxj.jsp">登录</a><br/></em>
            	<img th:src="@{before/images/09.png}">请填写加盟信息：
            	</p>
            <span class="rxxx">如果您是闲居，想加盟丛林闲居网，请填写如下信息（<i>* 为必填项</i>）</span>
           <form method="post" action="<%=path %>/joinxj!addJoinxj.action" id="joinxjForm" enctype="multipart/form-data">
            <div class="tab">
            	<!-- 用户id -->  
            	<input type="hidden" name="joinxj.uid" id="uid" value="${sessionUser.id }"/>
               <p><input type="text" value="${joinxj.xjname }" name="joinxj.xjname" id="xjname" placeholder="闲居户主名称" class="lxr "><i>*</i><span class="status" style="color: red" id="td1"></span></p>
               <p><input type="text" value="${joinxj.houseno }" name="joinxj.houseno" id="houseno" placeholder="房屋产权证号" class="lxr "><i>*</i><span class="status" style="color: red" id="td2"></span></p>
               <p><input type="text" value="${joinxj.address }" name="joinxj.address" id="address" placeholder="地 址" class="lxr "><i>*</i><span class="status" style="color: red" id="td3"></span></p>
               <p><input type="text" value="${joinxj.postcode }" name="joinxj.postcode" id="postcode"  placeholder="邮编" class="lxr "><i>*</i><span class="status" style="color: red" id="td4"></span></p>
               <p><input type="text" value="${joinxj.houseidcard }" name="joinxj.houseidcard" id="houseidcard" placeholder="户主身份证号" class="lxr "><i>*</i><span class="status" style="color: red" id="td5"></span></p>
               <i th:if="${joinxj ==null}">
               <p><input type="text" maxlength="11" name="joinxj.housephone" id="housephone"  placeholder="手机号（11位手机号码，作为后台管理员登录帐号）" class="lxr "  onblur="checkHousephone()"><i>*</i><span class="status" style="color: red" id="td6"></span></p>
               <p><input type="text"  id="mobileYZM"   placeholder="验证码" maxlength="6"  onblur="checkYZM()" class="yzm"> <button type="button" id="hqyzmbutton" onclick="getNumRandom()">获取验证码</button><i>*</i>
               		<span class="status" style="color: red" id="td11"></span></p>   
               		<input type="hidden" name="update" value="" id="update"/>  
               </i>
               <i th:if="${joinxj !=null}">
               		<input type="hidden" name="joinxj.housephone" value="${joinxj.housephone }" id="housephone"/>
                	<input type="hidden" name="joinxj.id" value="${joinxj.id }"/>  
                	<input type="hidden" name="joinxj.jointime" value="${joinxj.jointime}" id="jointime"/>
               		<input type="hidden" name="update" value="1" id="update"/> 
               </i>
               <p><input type="text" value="${joinxj.housemobile }" name="joinxj.housemobile" id="housemobile"  placeholder="固定电话" class="lxr "><i>*</i><span class="status" style="color: red" id="td7"></span></p>
               <p><input type="text" value="${joinxj.houseperson }" name="joinxj.houseperson" id="houseperson" placeholder="房屋共有人名字" class="lxr "><i>*</i><span class="status" style="color: red" id="td8"></span></p>
               <p><input type="text" value="${joinxj.idcard }" name="joinxj.idcard" id="idcard" placeholder="身份证号" class="lxr "><i>*</i><span class="status" style="color: red" id="td9"></span></p>
               <p><input type="text" value="${joinxj.phone }" name="joinxj.phone" id="phone" placeholder="电    话" class="lxr "><i>*</i><span class="status" style="color: red" id="td10"></span></p>
               <p id="more"><input type="file"  name="fileUrl.file0"><i>合同上传&nbsp;&nbsp;&nbsp;*</i></p>
               <p><textarea name="joinxj.message" placeholder="户主及家庭主要成员简介（500字以内）：">${joinxj.message }</textarea></p>                
               <p style="margin-top:20px;"><input type="button" id="sub" value="提交信息"></p>  
            </div> 
            </form>
            <p class="xx"><img th:src="@{before/images/09.png}">要求及流程说明</p>
            <p class="ln">本着双赢的理念，丛林闲居已建立了一个遍及全国的完善代理商网络。无论是个人还是企业，只要符合丛林闲居的要求，都可
                以成为丛林闲居的代理商，代理丛林闲居的国内、国外闲居预订的业务。 代理商将获得强大的品牌支持，良好的售后服务体系
                同时获得丰厚的利润回报。</p>
            <div class="liucheng">
                <img th:src="@{before/images/one_03.jpg}">
            </div>
        </div>
        <!--<div class="jm-right">
            <a href="<%=basePath %>/joinzip/丛林加盟所需.zip" class=""><div class="jmr-one xjjmbg">
                <img src="images/jm_07.jpg">
                <p>丛林加盟表格下载</p>
            </div></a> 
            <a href="<%=basePath %>/joinzip/闲居加盟所需.zip"><div class="jmr-one xjjmbg">
                <img src="images/jm_10.jpg">
                <p>闲居加盟表格下载</p>
            </div></a>  
            <a href="<%=basePath %>/joinzip/车辆加盟所需.zip"><div class="jmr-one ycjmbg">
                <img src="images/jm_12.jpg">
                <p>用车加盟表格下载</p>
            </div></a>
        </div>
    --></div> 


</div>
 <div th:replace="bottom::html"></div>
 <!--<%@ include  file="bottom.jsp"%>-->
    </div>
</div>
<div th:if="${show !=null}" class="tcc2">
    <div class="tx-ydm" style="margin-top: 300px;">  
            <p class="tx-sm"><span class="one"><img src="images/tx.png">提示</span><span class="two"><img src="images/14_01.png" class="close6"></span></p><br/><br/><br/>
            <p align="center"> 
            	</i>加盟成功，你的临时密码为${pwd }
            	</i>加盟失败</p><br/><br/><br/>
            <p align="center">      
            	<i th:if="${isOk ==true}"></i>点击<a href="<%=path %>/UserJPquery.jsp">查看</a>加盟进度
            	<i th:if="${isOk ==false}"></i>点击<a href="<%=path %>/joinxj.jsp">加盟</a>重新加盟 <br/><br/><br/>
            </p>
    </div>
</div>     
<script src="js/index.js"></script>
<script type="text/javascript"> 
var wait=120;//倒计时获取验证码时间
var checks = false; //一个全局变量，用来最终判断表单是否可以提交
$("#sub").click(function() { 
	var uid = document.getElementById("uid").value;
	var update = document.getElementById("update").value;
	//先判断是否登录
	if(uid==null||uid==""){
		alert("请先登录");   
	}else{ 
		var check = $("#joinxjForm").valid();  
		//判断是否是更新，如果是更新那就不需要填写手机号码
		if(update==1){ 
			if(check){
			 	document.getElementById("joinxjForm").submit(); 
		 	}  
		}else{
			//是新增的要判断验证码
	 		checkYZM(); 
	 		if(checks){    
	 			if(check){
					document.getElementById("joinxjForm").submit(); 
			 	}
	 		}
		} 
	} 
});  
$(document).ready(function() {
	 $("#joinxjForm").validate({
		 onfocusout: function(element){
	        $(element).valid();
	    }, 
	   rules: {
	  	 'joinxj.xjname': {
	   	 	required: true,
	   	 	isChinese:true
	   	},
	   	'joinxj.houseno': {
	   	 	required: true
	   	},
	   	'joinxj.address': {
	   	 	required: true
	   	},
	   	'joinxj.postcode': {
	   	 	required: true,
	   	 	isZipCode:true
	   	},
	   	'joinxj.houseidcard': {
	   	 	required: true,
	   		idCard:true
	   	},
	   	'joinxj.housemobile': {
	   	 	required: true,
	   		 isPhone:true 
	   	},
	   	'joinxj.houseperson': {
	   	 	required: true,
	   	 	isChinese:true 
	   	},
	   	'joinxj.idcard': {
	   	 	required: true,
	   		idCard:true 
	   	},
	   	'joinxj.phone': {
	   	 	required: true,
	   	 	isMobile:true 
	   	}, 
	   	'fileUrl.file0': {
	   	 	required: true
	   	}
	  },
	    messages: {
		'joinxj.xjname': {
	    	required: "&nbsp;&nbsp;闲居户主名称为空",
	    	isChinese:"&nbsp;&nbsp;闲居户主名称必须为中文"
	   	},
	   	'joinxj.houseno': {
	    	required: "&nbsp;&nbsp;房屋产权证号不能为空"
	   	},
	   	'joinxj.address': {
	    	required: "&nbsp;&nbsp;地址不能为空" 
	   	},
	   	'joinxj.postcode': {
	   	 	required: "&nbsp;&nbsp;邮编不能为空",
	   	 	isZipCode:"&nbsp;&nbsp;邮编格式不对"
	   	},
	   	'joinxj.houseidcard': {
	   	 	required: "&nbsp;&nbsp;户主身份证号不能为空",
	   	 	idCard:"&nbsp;&nbsp;户主身份证号格式不正确(如有X请大写)" 
	   	},
	   	'joinxj.housemobile': {
	   	 	required: "&nbsp;&nbsp;固定电话不能为空",
	   	 	isPhone:"&nbsp;&nbsp;固定电话格式不正确"  
	   	},
	   	'joinxj.houseperson': {
	   	 	required: "&nbsp;&nbsp;房屋共有人名字不能为空",
	   		isChinese:"&nbsp;&nbsp;房屋共有人名字必须为中文"  
	   	},
	   	'joinxj.idcard': {
	   	 	required: "&nbsp;&nbsp;房屋共有人身份证号不能为空",
	   	 	idCard:"&nbsp;&nbsp;房屋共有人身份证号格式不对格式不正确(如有X请大写)"  
	   	},
	   	'joinxj.phone': {
	   	 	required: "&nbsp;&nbsp;房屋共有人电话不能为空",
	   		isMobile:"&nbsp;&nbsp;房屋共有人电话格式不对"  
	   	},
	   	'fileUrl.file0': {
	   	 	required: "&nbsp;&nbsp;合同不能为空哦"
	   	}
	  }, 
	  //更改错误信息显示位置 
	  errorPlacement: function(error,element) {
	        if ( element.is(":radio") )
	            error.appendTo( element.parent().next().next() );
	        else if ( element.is(":checkbox") )
	            error.appendTo ( element.next() );
	        else
	            error.appendTo( element.next());   
	    	}
	 });
	 
});
//验证联系人手机
function checkHousephone(){
	var contactsphone = document.getElementById("housephone").value;
	var check = !!contactsphone.match(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/);
	var td6 = document.getElementById("td6");
	if(contactsphone==""){
		td6.innerHTML="&nbsp;&nbsp;请输入手机号";
	}else if(check==false){
		td6.innerHTML="&nbsp;&nbsp;请正确填写您的手机号码";
	}else{  
		$.ajax({  
	        type : "post",  
	         url : "<%=path %>/joincl!checkContactsphone.action",  
	         data: {"joincl.contactsphone":contactsphone},
	         dataType: "json",
	         async : false,     
	         success : function(status){  
	        	 if(status.message == null||status.status==null){
					  td6.innerHTML = "&nbsp;&nbsp;发生了一点异常，抱歉，请你刷新页面重试";
					  checks = false;
				  }
				  if(status.status=="true"||status.status==true){	
					  td6.innerHTML = status.message;
					  checks = true;
				  }else{ 
					  td6.innerHTML = status.message;
					  checks = false; 
				  }
	         }   
	    });
	} 
}
//获取验证码
function getNumRandom(){
	checkHousephone();
	if(checks){ 
		var td11 = document.getElementById("td11");
		var contactsphone = document.getElementById("housephone").value;
		var button = document.getElementById("hqyzmbutton");
		time(button);
		$.ajax({  
	        type : "post",  
	         url : "<%=path %>/joincl!getNumRandom.action",  
	         data: {"joincl.contactsphone":contactsphone},
	         dataType: "json",
	         async : false,   
	         success : function(status){  
	        	 if(status.message == null||status.status==null){
					  td11.innerHTML = "&nbsp;&nbsp;发生了一点异常，抱歉，请你刷新页面重试";
					  checks = false;
				  }
				  if(status.status=="true"||status.status==true){	
					  td11.innerHTML = status.message;
					  checks = true;
				  }else{
					  td11.innerHTML = status.message;
					  checks = false; 
				  }
	         }    
	    });
	}
}
//按钮倒计时
function time(o) {
    if (wait == 0) {
        o.removeAttribute("disabled");            
        o.innerHTML="免费获取验证码";
        wait = 120;
    } else {
        o.setAttribute("disabled", true);
        o.innerHTML="重新发送(" + wait + ")";
        wait--;
        setTimeout(function() {
            time(o)
        },
        1000)
 	}
}
//判断验证码
function checkYZM(){
	checkHousephone();  
	if(checks){
		var mobileYZM = $('#mobileYZM').val();
		var contactsphone = document.getElementById("housephone").value; 
		var check = !!mobileYZM.match(/^\d{6}$/); 
		var td11 = document.getElementById("td11");
		if(check){
			$.ajax({   
		        type : "post",  
		         url : "<%=path %>/joincl!checkYZM.action",  
		         data: {"joincl.contactsphone":contactsphone,'mobileYZM':mobileYZM},
		         dataType: "json",
		         async : false,   
		         success : function(status){  
		        	 if(status.message == null||status.status==null){
						  td11.innerHTML = "&nbsp;&nbsp;发生了一点异常，抱歉，请你刷新页面重试";
						  checks = false;
					  }
					  if(status.status=="true"||status.status==true){	
						  td11.innerHTML = status.message;
						  checks = true;
					  }else{
						  td11.innerHTML = status.message;
						  checks = false; 
					  }
		         }    
		    });
		}else{ 
			td11.innerHTML = "请正确输入6位纯数字验证码";
			checks = false; 
		}
	}
}

</script>
</body>
</html>