<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>丛林闲居-闲居-列表页</title>
    <link rel="stylesheet" href="style/cy.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="js/laydate.js"></script>
    <link rel="stylesheet" href="style/laydate.css">
    <link rel="stylesheet" href="js/molv/laydate.css">
    <script src="js/jquery.min.js"></script>
    <!--<script type='text/javascript' src='js/citylist.js'></script>-->
    <script type='text/javascript' src='js/querycity1.js'></script>
    <link href='style/cityquery.css' rel="stylesheet" type="text/css" />
</head>
<body>
<!--首页TOP-->
 
<!--首页banner-->
  <jsp:include  page="head.jsp" />
 <script type="text/javascript">
function Alllogin(){
	window.location.href = "login.jsp?returnurl=/clxjmain!selXjOfPage.action";
} 
function loginOut(){
	window.location.href = "<%=path%>/reguser!loginOut.action?returnurl=/clxjmain!selXjOfPage.action";
}
function Allregister(){
}
 </script>
<!--首页轮播图-->
<div class="index-lbt">
    <div id="scrollPics">
        <ul class="slider">
             <li><img src="${clxjBackurl }/roll/home/lbt1.png" class="lower" width="100%" height="380px"/>
            </li>
            <li><img src="${clxjBackurl }/roll/home/lbt2.png" width="100%" height="380px"/></li>
            <li><img src="${clxjBackurl }/roll/home/lbt3.png" width="100%" height="380px"/></li>
            <li><img src="${clxjBackurl }/roll/home/lbt4.png" width="100%" height="380px"/></li>
            <li><img src="${clxjBackurl }/roll/home/lbt5.png" width="100%" height="380px"/></li>
        </ul> 
        <ul class="num">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="nested">
        <div class="gjcl">
            <div class="lbttj">
                <div class="tj-top">
                    <span <c:if test="${citytype ==true}"> class="gnxjac"</c:if> <c:if test="${citytype ==null}"> class="gnxjac"</c:if>>国内闲居</span ><span <c:if test="${citytype ==false}"> class="gnxjac"</c:if>>国际闲居</span>
                </div> 
                <div class="tj-bottom">
                    <div <c:if test="${citytype ==true}">class="xj"</c:if><c:if test="${citytype ==false}">class="xj none"</c:if> <c:if test="${citytype ==null}"> class="xj"</c:if>>
                     <form action="<%=path %>/clxjmain!selXjOfPage.action" method="post" onsubmit="getCity('10',ones)"> 
                        <table>
                            <tr>
                                <td>目的地</td>
                                <td class="sec "><input type="text"  <c:if test="${cityzw!=null }">value="${cityzw }"</c:if>  <c:if test="${citypy!=null }"> data-wholename="${citypy }"</c:if><c:if test="${citypy==null }"> data-wholename=""</c:if> placeholder="请输入城市名" id="ones"></td>
                                			<input type="hidden" name="clxjmain.belong_city" id="city10" <c:if test="${cityzw!=null }">value="${cityzw }"</c:if>> 
                                        	<input type="hidden" name="clxjmain.type1" value="true"/>
                                        	<input type="hidden" name="clxjmain.type2" value="false"/>
                            </tr>
                            <tr>
                                <td>入住</td>
                                <td><p><input name="startTime" class="laydate-icon" id="demo1" <c:if test="${startTime !=null}">value="${startTime }"</c:if><c:if test="${startTime ==null}">value="2018-2-3"</c:if> >
                                </p>

                                    <p>退房<input name="endTime" class="laydate-icon" id="demo2" <c:if test="${endTime !=null}">value="${endTime }"</c:if><c:if test="${endTime ==null}">value="2019-1-1"</c:if>>
                                    </p></td>
                            </tr>
                            <tr>  
                                <td>关键词</td>
                                <td class="sec"><input type="text" name="clxjmain.name"   <c:if test="${cityname==null }">placeholder="请输入地标/商圈/景点"</c:if> <c:if test="${cityname!=null }">value="${cityname }"</c:if> id="gnxjkey" ></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="ses sec"><input type="submit" value="搜索" /> </td>
                            </tr> 
                        </table> 
                        </form>
                    </div>
                    <div <c:if test="${citytype ==true}">class="xj none"</c:if> <c:if test="${citytype ==false}">class="xj"</c:if> <c:if test="${citytype ==null}"> class="xj none"</c:if>>
                    <form action="<%=path %>/clxjmain!selXjOfPage.action" method="post" onsubmit="getCity('00',oness)"> 
                    <table>
                        <tr>
                            <td>目的地</td>
                            <td class="sec"><input type="text" <c:if test="${cityzw!=null }">value="${cityzw }"</c:if>  <c:if test="${citypy!=null }"> data-wholename="${citypy }"</c:if><c:if test="${citypy==null }"> data-wholename=""</c:if> placeholder="请输入城市名" id='oness'  data-wholename=""></td>
                            <input type="hidden" name="clxjmain.belong_city" id="city00"/>
                             <input type="hidden" name="clxjmain.type1" value="false"/>
                             <input type="hidden" name="clxjmain.type2" value="false"/>
                        </tr>
                        <tr>
                            <td>入住</td>
                            <td><p><input name="startTime" class="laydate-icon" id="demo3" <c:if test="${startTime !=null}">value="${startTime }"</c:if><c:if test="${startTime ==null}">value="2018-2-1"</c:if>>
                            </p>

                                <p>退房<input name="endTime" class="laydate-icon" id="demo4" <c:if test="${endTime !=null}">value="${endTime }"</c:if><c:if test="${endTime ==null}">value="2019-4-14"</c:if>>
                                </p></td> 
                        </tr>
                        <tr> 
                            <td>关键词</td>
                            <td class="sec"><input type="text" name="clxjmain.name" <c:if test="${cityname==null }">placeholder="请输入地标/商圈/景点"</c:if> <c:if test="${cityname!=null }">value="${cityname }"</c:if>  id="gjxjkey" ></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="ses sec"><input type="submit" value="搜索"  />  </td>
                        </tr>
                    </table>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lby">
<c:forEach items="${page.list}" var="x"> 
    <div class="lby-xy">
        <div class="lby-left">
            <a href="<%=path%>/clxjmain!selClxjOfId.action?clxjmain.id=${x.id}"><img width="296" height="188" src=${clxjBackurl }${x.first_img_min }></a>
        </div>
        <div class="lby-right">
            <p class="title"><a href="<%=path%>/clxjmain!selClxjOfId.action?clxjmain.id=${x.id}">${x.name }</a></p>
            <p class="con">${x.introduction }</p>
            <p class="address">位  置:${x.address }</p>
        </div>
        <div class="lby-pos">
            <div>
                <p class="one">
                    <span><i>${x.ccount }</i></span>
                    <span>闲居评价</span>
                </p>
                <p class="two">
                    <span><i>${x.hpl }</i></span> 
                    <span>好评/10分</span>
                </p>
                <p class="yd">
                    <span class="mony">${x.price }<i>/晚</i></span>
                    <a href="<%=path%>/clxjmain!selClxjOfId.action?clxjmain.id=${x.id}"><span class="dj">预定</span></a>
                </p>
            </div>
        </div>
    </div>
    </c:forEach> 
</div>
<form action="<%=path%>/clxjmain!selXjOfPage.action" method="post" id="xjForm">
    <input type="hidden" id="offset" name="offset" value="${offset }">
      <c:if test="${citytype !=null}"> <input type="hidden" name="clxjmain.type1" value="${citytype }"/></c:if>
    <input type="hidden" name="clxjmain.type2" value="${citytype2 }"/>
    <input type="hidden" name="clxjmain.name" value="${cityname }"/>  
    <input type="hidden" name="clxjmain.belong_city" value="${belong_city }"/>
</form>
<div class="fenye">
    ${page.navigation }
</div>
 <%@ include  file="bottom.jsp"%>


<script src="js/index.js"></script>
<script type="text/javascript">
    !function () {
        laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
        laydate({elem: '#demo1'});//绑定元素
        laydate({elem: '#demo2'});//绑定元素
        laydate({elem: '#demo3'});//绑定元素
        laydate({elem: '#demo4'});//绑定元素
    }();

    //var labelFromcity = new Array(); 
    //labelFromcity ['热门城市'] = new Array(2,41,54,119,25,50,187,182,77,122,42,196,106,136,188,17,22,16,37,67,88,159,143,176,14,58,136,73);  
   //labelFromcity ['A-F'] = new Array(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,32,33,34,35,36,37,38,39); 
    //labelFromcity ['G-J'] = new Array(40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85);  
    //labelFromcity ['K-N'] = new Array(86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124); 
    //labelFromcity ['O-W'] = new Array(125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184); 
    //labelFromcity ['X-Z'] = new Array(185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231);

    //var interlabelFromcity = new Array();
    //interlabelFromcity ['国际城市'] = new Array(1001,1002,1003,1004,1005,1006,1007,1008,1009);
    //var hotList = new Array(14,15,16,17,18,19); 
//新方法，从数据库获得每种类型的城市的id
var labelFromcity = new Array(); 
labelFromcity['热门城市'] = new Array();  
labelFromcity ['A-F'] = new Array(); 
labelFromcity ['G-J'] = new Array();  
labelFromcity ['K-N'] = new Array(); 
labelFromcity ['O-W'] = new Array(); 
labelFromcity ['X-Z'] = new Array();
var interlabelFromcity = new Array();
interlabelFromcity ['国际城市'] = new Array();
var hotList = new Array(14,15,16,17,18,19);
$.ajax({  
    type : "post",  
     url : "<%=path %>/city!selCityType.action",  
     data: {},
     dataType: "json",
     async : false,     
     success : function(results){   
         for(var i =0;i<results.citytypes.rm.length;i++){
        	 labelFromcity['热门城市'][i]=results.citytypes.rm[i];
          }
         for(var i =0;i<results.citytypes.a_f.length;i++){
        	 labelFromcity[['A-F']][i]=results.citytypes.a_f[i];
          }
         for(var i =0;i<results.citytypes.g_j.length;i++){
        	 labelFromcity[['G-J']][i]=results.citytypes.g_j[i];
          }  
         for(var i =0;i<results.citytypes.k_n.length;i++){
        	 labelFromcity[['K-N']][i]=results.citytypes.k_n[i];
          }  
         for(var i =0;i<results.citytypes.o_w.length;i++){
        	 labelFromcity[['O-W']][i]=results.citytypes.o_w[i];
          }  
         for(var i =0;i<results.citytypes.x_z.length;i++){
        	 labelFromcity[['X-Z']][i]=results.citytypes.x_z[i];
          }
         for(var i =0;i<results.citytypes.gjcs.length;i++){
        	 interlabelFromcity ['国际城市'][i]=results.citytypes.gjcs[i];
          }    
     }   
}); 
    $(document).ready(function(){
    	var citysFlight=new Array();
    	//新方法，加载页面的时候把所有的城市的数据加载出来
    	$.ajax({  
            type : "post",  
             url : "<%=path %>/city!initializeCity.action",  
             data: {},
             dataType: "json",
             async : false,     
             success : function(results){  
                 for(var i =0;i<results.citys.length;i++){
                	 citysFlight[results.citys[i].id]=new Array('',results.citys[i].chinese,results.citys[i].pinyin,results.citys[i].abbreviations);
                     }
             }   
        });
        $('#ones').querycity({'data':citysFlight,'tabs':labelFromcity,'hotList':hotList});
        $('#oness').querycity({'data':citysFlight,'tabs':interlabelFromcity,'hotList':hotList});

    });
    function pageClick(pagesize,limit)
    {
    	document.getElementById("offset").value=pagesize;
    	document.getElementById("xjForm").submit();
    }

    //des     目的地
    //sttime  入住时间
    //entime  退房时间
    //keyword 关键词
    function xjsearch(des,sttime,entime,keyword){
    	alert(des+sttime+entime+keyword);
    }
  //将城市转换为拼音+城市名字
    function getCity(type,id){ 
    	var citypy;
    	var cityzw;
    	switch (id) {
    	case ones:
    		citypy = $('#ones').attr('data-wholename');
    		cityzw = $('#ones').val(); 
    		break;
    	case oness:
    		citypy = $('#oness').attr('data-wholename');
    		cityzw = $('#oness').val(); 
    		break;
    	}   
    	var city = document.getElementById("city"+type);
    	city.value = citypy+"|"+cityzw; 
    }
</script>
</body>
</html>