<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>丛林闲居</title>
    <link rel="stylesheet" th:href="@{before/style/cy.css}">
    <link rel="stylesheet" th:href="@{before/style/style.css}">
    <link rel="stylesheet" th:href="@{webjars/layui/2.3.0/css/layui.css}">
</head>
<body>
<!--首页TOP-->
    <div class="yc-txdd1">
         
        <!--首页banner-->
        <div th:replace="head::html"></div>
        <script type="text/javascript" th:src="@{webjars/layui/2.3.0/layui.js}"></script>
        <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
         <!--<jsp:include  page="head.jsp" />-->
<script type="text/javascript">
function Alllogin(){
	window.location.href = "login.jsp";
} 
function loginOut(){
	window.location.href = "<%=path%>/reguser!loginOut.action?returnurl=/login.jsp";
}
 </script>
        <!--首页轮播图-->



        <div class="passwrod-seek-i seek-top" id="div1">
            <ul class="seek">
                <li class="sk-i">找回登录密码：</li>
                <li class="sk-ii sk-b">第一步：填写账号</li>
                <li class="sk-ii sk-c">第二步：验证</li>
                <li class="sk-ii sk-c">第三步：设置新密码</li>
                <li class="sk-ii sk-c">第四步：设置成功</li>
            </ul>
            <ul class="seek-i">
                <li class="seek-i-one">请输入您的账号</li> 
                <li class="seek-i-two">邮箱<input   type="text" id="phone" /><span id="span1" class="pwa-pro">提示：用于绑定的手机号</span><span style="color: red"  id="span2"></span></li>
                <!--<li class="seek-i-three">验证码<input maxlength="4" type="text" id="yzm" onblur="checkYZM()"/><img id="yzmImg" style="margin-left: 10px" width="101"  height="36" src="<%=path%>/reguser!exyzmStr.action"/><a href="javascript:void(0)" style="cursor:hand" class="pwa-pro" onclick="changeYzm()">换一换</a><span style="margin-left: 10px;color: red;" id="span3"></span></li>-->
                <!--<li class="seek-i-three"><button id="TencentCaptcha"-->
                            <!--data-appid="2046369059"-->
                            <!--data-cbfn="callback"-->
                <!--&gt;验证</button>-->
                </li>
                <li class="seek-i-four"><input  id="TencentCaptcha"
                                                data-appid="2046369059"
                                                data-cbfn="callback" type="button" value="下一步" /></li>
            </ul>
        </div>

        <div class="passwrod-seek-ii seek-top" style="display:none" id="div2">
            <ul class="seek">
                <li class="sk-i">找回登录密码：</li>
                <li class="sk-ii sk-a">第一步：填写账号</li>
                <li class="sk-ii sk-b">第二步：设置新密码</li>
                <li class="sk-ii sk-c">第三步：设置成功</li>
            </ul>
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item" style="margin-left: 130px;margin-top: 50px;margin-right: 400px;">
                    <label class="layui-form-label" style="background: #4eadf2">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" id="email" disabled autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 130px;margin-right: 300px;">
                    <div class="layui-inline" >
                        <label class="layui-form-label" style="background: #4eadf2">验证码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="code" id="code"  class="layui-input" placeholder="请输入验证码">
                        </div>
                    </div>
                    <div class="layui-inline" style="margin-left: 58px;">
                        <input type="button" onclick="getNumRandom()" id="send" class="layui-btn layui-btn-radius layui-btn-normal" value="发送验证码"/>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 130px;margin-right: 400px;">
                    <label class="layui-form-label" style="background: #4eadf2"> 新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="pwd" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 130px;margin-right: 400px;">
                    <label class="layui-form-label" style="background: #4eadf2">确认密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="pwd2" required lay-verify="required" placeholder="请确认密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" style="margin-left: 130px;margin-left: 130px;">
                    <div class="layui-input-block" style="margin-top: 50px">
                        <button style="margin-right: 100px" class="layui-btn layui-btn-lg layui-btn-normal" lay-submit lay-filter="formDemo">修改密码</button>
                    </div>
                </div>
            </form>
            <!--<ul class="seek-iii-two">-->
                <!--<li class="skthree-newpwa">设置新密码<input maxlength="16" id="pwd" type="password" onblur="checkpwd()" placeholder="请输入6-16位数的密码"/><span class="pwa-pro" id="span4" style="color: red;"></span></li>-->
                <!--<li class="skthree-conpwa">确认密码<input maxlength="16" id="repwd" type="password" placeholder="请再次输入密码" onblur="checkrepwd()"/><span class="pwa-pro" id="span5" style="color: red;"></span></li>-->
                <!--<li class="skthree-but"><input type="button" value="确认" onclick="czpwd()"/></li>-->
            <!--</ul>-->
        </div>



        <!--<div class="passwrod-seek-iii seek-top" style="display:none"   id="div3">-->
            <!--<ul class="seek">-->
                <!--<li class="sk-i">找回登录密码：</li>-->
                <!--<li class="sk-ii sk-a">第一步：填写账号</li>-->
                <!--<li class="sk-ii sk-a">第二步：验证</li>-->
                <!--<li class="sk-ii sk-b">第三步：设置新密码</li>-->
                <!--<li class="sk-ii sk-c">第四步：设置成功</li>-->
            <!--</ul>-->
            <!--<ul class="seek-iii-two">-->
                <!--<li class="skthree-newpwa">设置新密码<input maxlength="16" id="pwd" type="password" onblur="checkpwd()" placeholder="请输入6-16位数的密码"/><span class="pwa-pro" id="span4" style="color: red;"></span></li>-->
                <!--<li class="skthree-conpwa">确认密码<input maxlength="16" id="repwd" type="password" placeholder="请再次输入密码" onblur="checkrepwd()"/><span class="pwa-pro" id="span5" style="color: red;"></span></li>-->
                <!--<li class="skthree-but"><input type="button" value="确认" onclick="czpwd()"/></li>-->
            <!--</ul>-->
        <!--</div>-->
 <!--<%@ include  file="bottom.jsp"%>-->
    </div>


<div class="tcc none" id="okok">
    <div class="cgxd4">
            <div class="cgxd4-top"><p class="one"><img th:src="@{before/images/zhmm4_03.jpg}">提示</p><p class="two"><img src="images/14_01.png" class="close3"></p></div>
            <div class="cgxd4-main">
                您的登录密码设置成功！
            </div>
            <div class="cgxd4-buttom">
                <a href="javascript:void(0)" onclick="goLogin()">确&nbsp;认</a>  
            </div>
        </div>

</div>
<script th:src="@{before/js/jquery.min.js}"></script>
<script th:src="@{before/js/index.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var checks = false;//全局变量，用于判断是否能下一步
    var wait=120;//倒计时获取验证码时间
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function(data){
            var msg = JSON.stringify(data.field);
            //layer.msg('内容',{icon:5,time:2000, shift: 6},function(){});
            if(data.field.pwd!=data.field.pwd2){
                layer.msg("两次密码输入不一致",{icon:5,time:2000, shift: 6},function(){});
                return false;
            }
            $.ajax({
                url: "/RetrievePassword",
                type: "put",
                async: true,
                data:{
                    email:data.field.email,
                    pwd:data.field.pwd,
                    code:data.field.code
                },
                success: function (data) {
                    if(data==true){
                        checkdiv2();
                        //layer.msg("修改密码成功", {icon: 1});
                    }else {
                        layer.msg(data.msg,{icon:5,time:2000, shift: 6},function(){});
                    }
                },
                error: function () {
                }
            })
            return false;
        });

    });
    window.callback = function(res){
        //console.log(res)
        // res（用户主动关闭验证码）= {ret: 2, ticket: null}
        // res（验证成功） = {ret: 0, ticket: "String", randstr: "String"}
        if(res.ret === 0){
            checkdiv1();
            // alert(res.ticket)   // 票据
        }
    }
	//检验第一步
	function checkdiv1(){
				var phone = $('#phone').val();
				document.getElementById("div1").style.display="none";
				$("#email").val(phone);
				getNumRandom();
				document.getElementById("div2").style.display="block";
    }
    function checkdiv2(){
        document.getElementById("div2").style.display="none";
        document.getElementById("okok").style.display="block";
    }
	//获取验证码
	function getNumRandom() {
        var random = document.getElementById("send"); //发送按钮
        var email=$("#email").val();
        if (email == null || email=== "") {
            layer.msg("请输入邮箱");
            return false;
        }
        $.ajax({
            url: "/email/" + email,
            type: "post",
            async: true,
            success: function (data) {
                if(data!=true){
                    layer.msg(data.msg,{icon: 5},function () {})
                }
            },
            error: function () {
            }
        })
        time(random);
    }
	//倒计时按钮
	function time(o) {
	        if (wait == 0) {
	            o.removeAttribute("disabled");            
	            o.value="免费获取验证码";
	            wait = 120;
	        }else{
	            o.setAttribute("disabled", true);
	            o.value="重新发送(" + wait + ")";
	            wait--; 
	            setTimeout(function() {
                    time(o);
                }, 1000);
	     	}
		}
	//检验手机验证码是否正确
	// function checkphoneYZM(){
	// 	var emial = $('#phone').val();
	// 	var phoneYZM = document.getElementById("phoneYZM").value;
	// 	var check = !!phoneYZM.match(/^\d{4}$/);
	// 	var em2 = document.getElementById("em2");
	// 	if(phoneYZM==""){
    //         layer.msg("验证码不能为空",{icon: 5},function () {})
    //         return false;
	// 	}else if(check==false){
    //         layer.msg("请正确输入6位纯数字验证码",{icon: 5},function () {})
	// 		em2.innerHTML="&nbsp;&nbsp;请正确输入6位纯数字验证码";
    //         return false;
	// 	}else{
	// 		$.post("<%=path %>/reguser!checkYZM.action",
	// 				  {"mobileYZM":phoneYZM,"reguser.username":phone},
	// 				  function(result){
	// 					  if(result == null){
	// 						  em2.innerHTML = "&nbsp;&nbsp验证出错，请重试";
	// 						  checks = false;
	// 					  }
	// 					  if(result.status=="true"||result.status==true){
	// 						  em2.innerHTML = result.message;
	// 						  checks = true;
	// 					  }else{
	// 						  em2.innerHTML = result.message;
	// 						  checks = false;
	// 					  }
	// 				  },"json");
	// 	}
	// }
	//跳到登录页面
	function goLogin(){
		window.location.href ="/index";
    }
</script>
</body>
</html>