<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="./css/style.css" th:href="@{before/css/style.css}" type="text/css" />
</head>
<body>
<div class="logo"></div>
<div class="topnav">
<div class="top"></div>
<div class="navbar">
</div>
</div>
<div align="right" style="padding:5px 20px">
<br />
欢迎，<label class="userinfo"></label><br />

<!--<a class="cplink" href="model/tongzhiguanli.php" target="frmright">消息</a> .-->
<a class="cplink" href="" target="frmright">资料</a> |
<!--<a class="cplink" href="model/shiyongshuoming.php" target="frmright">帮助</a> .-->
<a class="cplink" href="" target="_parent">退出</a>
</div>
</body>
</html>