<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>丛林闲居-用户中心-修改密码</title>
    <link rel="stylesheet" href="style/cy.css" th:href="@{before/style/cy.css}">
    <link rel="stylesheet" href="style/style.css" th:href="@{before/style/style.css}">
</head>
<body style="background-color:#f6f6f6;">
<script th:inline="javascript" th:if="${session.user}==null">
    // window.location.href = "<%=path%>/login.jsp";
</script>
<script th:inline="javascript" th:if="${isUpdate}==1">
    alert("取消预定成功");
    window.location.href = "<%=path%>/UserCarOrder.jsp";
</script>
<script th:inline="javascript" th:if="${isUpdate}==0">
    alert("取消预定失败，请重试");
    window.location.href = "<%=path%>/UserCarOrder.jsp";
</script>
<div>
<!--首页TOP-->
         
        <!--首页banner-->
    <div th:insert="~{head::top1}"></div>
    <div th:insert="~{head::top2}"></div>
        <script type="text/javascript">
   function loginOut(){
		window.location.href = "<%=path%>/reguser!loginOut.action?returnurl=/clxjmain!Homepage.action";
	}
   </script>
        <!--首页轮播图-->
<!--用车-填写订单-->
<!--    <div th:insert="~{UserCarOrder::user}"></div>-->

            <div class="per-cont-right">


                <div class="jbxx">
                    <img src="images/xxxx_06.jpg" th:src="@{before/images/xxxx_06.jpg}">修改密码
                    <p></p>
                </div>
                <div>
                <form action="<%=path%>/reguser!updateUser.action" method="post" id="updatePwdForm()">
                	<input type="hidden" id="oldpwd2" value="${sessionUser.pwd }"/>
                	<input type="hidden" name="updatePwd" value="1"/>
                	<input type="hidden" name="reguser.username" value="${sessionUser.username }"/>
                	<input type="hidden" name="reguser.id" value="${sessionUser.id }"/>
                    <table class="sg">
                        <tr>
                            <td>原始密码：</td>
                            <td><input type="password" id="oldpwd" onblur="checkOldPwd()"><span><label id="oldpwderror"></label></span></td>
                        </tr>
                        <tr>
                            <td>新密码：</td>
                            <td><input id="pwd" type="password" onblur="checkPwd()"><span><label id="pwderror"></label></span></td>
                        </tr>
                        <tr>
                            <td>再次输入新密码：</td>
                            <td><input id="repwd" type="password" name="reguser.pwd" onblur="checkRepwd()"><span><label id="repwderror" ></label></span></td> 
                        </tr>
                    </table>
                   </form>
                </div>
                <div class="anniu"><input type="submit" value="保存" onclick="updatePwd()"><input type="reset" value="取消"></div>
            </div>

        </div>
    <div th:insert="~{bottom::bot1}"></div>
    <div th:insert="~{bottom::bot2}"></div>

</div>
<script type="text/javascript" th:src="@{webjars/jquery/3.0.0/jquery.js}"></script>
<script src="js/index.js" th:src="@{before/js/index.js}"></script>
<script type="text/javascript">
var checks = false;
	function checkOldPwd(){
		var oldpwd = document.getElementById("oldpwd");
		var oldpwderror = document.getElementById("oldpwderror");
		if(oldpwd.value==""||oldpwd.value==null){
			oldpwderror.innerHTML = "原始密码不能为空";
			checks = false;
		}else if(oldpwd.value.length<6){
			oldpwderror.innerHTML = "原始密码不能小于6位";
			checks = false;
		}else{
			var oldpwd2 = document.getElementById("oldpwd2").value;
			if(oldpwd2!=oldpwd.value){
				oldpwderror.innerHTML = "原始密码错误，请重新填写";
				checks = false;
			}else{
				oldpwderror.innerHTML = "";
				checks = true;
			}
		}
	}
	function checkPwd(){
		var pwd = document.getElementById("pwd").value;
		var pwderror = document.getElementById("pwderror");
		if(pwd==""||pwd==null){
			pwderror.innerHTML = "新密码不能为空";
			checks = false;
		}else if(pwd.length<6){
			pwderror.innerHTML = "新密码不能小于6位";
			checks = false;
		}else{
			pwderror.innerHTML = "";
			checks = true;
		}
		
	}
	function checkRepwd(){
		var repwd = document.getElementById("repwd").value;
		var pwd = document.getElementById("pwd").value;
		var repwderror = document.getElementById("repwderror");
		if(pwd==""||pwd==null){
			repwderror.innerHTML = "再次输入新密码不能为空";
			checks = false;
		}else if(pwd.length<6){
			repwderror.innerHTML = "再次输入新密码不能小于6位";
			checks = false;
		}else if(repwd!=pwd){
			repwderror.innerHTML = "两次密码输入不一致";
			checks = false;
		}else{
			repwderror.innerHTML = "";
			checks = true;
		}
		
	}
	function updatePwd(){
		checkOldPwd();
		if(checks){
			checkPwd();
			if(checks){
				checkRepwd()
				if(checks){
					document.getElementById("updatePwdForm()").submit();
				}
			}
		}
	}
</script>
</body>
</html>